@font-face {
  font-family: 'thePoppins';
  src: url(../fonts/Poppins.ttf); }
html {
  scroll-behavior: smooth;
  box-sizing: border-box; }

p,
a {
  font-family: 'thePoppins', 'Century Gothic'; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab' !important;
  color: #424C55; }

h1 {
  color: #424C55 !important; }

body {
  margin: 0;
  padding: 0; }
  body h1 {
    margin: 0; }

.header {
  width: 100%;
  height: 100vh;
  z-index: 2; }

.portfolio,
.skills-container,
.education-container,
.work-xp {
  min-height: 100vh;
  width: 100%; }

.header {
  background-image: linear-gradient(#fff0, #7798AB), url(../images/bg3.jpg);
  background-size: cover;
  background-blend-mode: saturation;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed; }
  .header h1 {
    font-size: 6vw;
    color: #424C55; }
  .header h2 {
    font-size: 4vw;
    color: #424C55; }

.wave-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 180px; }

.rotate-img {
  position: absolute;
  width: 100%;
  height: 110px; }

.splash-text {
  padding: 2em 100px 0;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-template-areas: "left right"; }
  .splash-text .left {
    grid-area: left;
    z-index: 4;
    font-family: 'Roboto Slab'; }
  .splash-text .right {
    grid-area: right;
    z-index: 4; }

.right {
  animation: pulse infinite;
  animation-duration: 1.900s;
  box-shadow: 2px 4px 3px lightgrey;
  border-top: solid #AC7B84;
  background-color: #FCF7F8;
  border-radius: 0.45rem;
  padding: 1em;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "hi hi" "text text" "personal personal" "btn1 btn2"; }
  .right .personal {
    grid-area: personal;
    display: grid;
    grid-template-areas: "email" "phone"; }
    .right .personal .text {
      text-align: center;
      line-height: 1.6em;
      color: #ccc;
      width: 100%; }
    .right .personal .text:hover {
      transition: all .4s; }
    .right .personal .phone {
      grid-area: phone; }
    .right .personal .email {
      grid-area: email; }

.right:hover {
  animation: none; }

#bolder {
  color: #424C55;
  grid-area: hi;
  font-weight: 600;
  font-size: 1.6em; }

.info {
  grid-area: text;
  margin: 0; }

.btns {
  margin: 1em 0 0; }

.btn1 {
  grid-area: btn1; }

.btn2 {
  grid-area: btn2; }

.main-text {
  padding: 2em;
  margin: 0 auto; }
  .main-text h1 {
    text-align: center; }

.blue-underline::after {
  content: '';
  display: block;
  width: 50%;
  margin: .8em auto;
  height: 4px;
  background-color: #7798AB; }

.green-underline::after {
  content: '';
  display: block;
  width: 50%;
  margin: .8em auto;
  height: 4px;
  background-color: #64B6AC; }

.skills-grid .skill {
  position: relative;
  height: calc(300px - 30px);
  background: #424C55;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px; }

.skills-grid .skill .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#7798AB, #64B6AC);
  transition: 0.5s ease-in all;
  z-index: 1;
  clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0); }

.skills-grid .skill:hover .icon {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  transition: .5s all;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

.skills-grid .skill .icon .fab {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8em;
  transition: .5s;
  color: #FCF7F8; }

.skills-grid .skill:hover .icon .fab {
  font-size: 3em; }

.skill-content {
  position: absolute;
  top: 100px;
  height: calc(100% - 100px);
  text-align: center;
  padding: 2em;
  box-sizing: border-box;
  transition: .5s;
  color: #FCF7F8;
  opacity: 0;
  width: 100%; }

.skills-grid .skill:hover .skill-content {
  top: 100px;
  opacity: 1; }

.skills-grid .skill .skill-content h3 {
  padding: 0;
  font-size: 3em;
  color: #FCF7F8; }

.html {
  animation: jello 1.6s infinite; }

.html:hover {
  animation: 0; }

.education-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "card1 card2"; }
  .education-grid .edu-card {
    max-height: 100vh;
    background: #C1CAD6;
    border-radius: .3em;
    text-align: center;
    padding: 1em;
    transition: all .4s;
    display: grid;
    grid-template-areas: "header" "title" "time" "body"; }
    .education-grid .edu-card .section-header {
      grid-area: header;
      margin: 2em 0;
      font-weight: 600; }
    .education-grid .edu-card .card-title {
      grid-area: title;
      margin: 0;
      color: #FCF7F8; }
    .education-grid .edu-card .timezone::after {
      content: '';
      display: block;
      width: 50%;
      margin: .8em auto;
      height: 4px;
      background: #FCF7F8; }
    .education-grid .edu-card .timezone {
      grid-area: time;
      color: #424C55; }
    .education-grid .edu-card .card-body {
      text-align: left;
      padding: 2em;
      grid-area: body; }
      .education-grid .edu-card .card-body p {
        line-height: 1.6em; }
      .education-grid .edu-card .card-body ul {
        list-style-type: circle; }
        .education-grid .edu-card .card-body ul li {
          margin: 2em; }
  .education-grid .edu-card:hover {
    animation: pulse .4s;
    transition: all .4s; }
  .education-grid .card1 {
    grid-area: card1; }
  .education-grid .card2 {
    grid-area: card2;
    display: grid;
    grid-template-rows: repeat(2, 1fr) "sec1" "sec2"; }
    .education-grid .card2 .sectionOne {
      grid-area: sec1; }
    .education-grid .card2 .sectionTwo {
      grid-area: sec2;
      margin: 1.2em 0; }

.inner-border {
  border: 2px solid #424C55;
  position: relative;
  padding: 1em;
  height: fit-content; }

#capital {
  text-transform: capitalize; }

.navbar {
  top: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%); }
  .navbar ul {
    display: flex;
    margin: 0 auto;
    padding: 1em;
    width: 80%; }
  .navbar li {
    justify-content: flex-start;
    margin: 2em 2em;
    list-style-type: none; }
    .navbar li a {
      padding: 0.25rem 0;
      text-decoration: none;
      color: #AC7B84;
      transition: all 0.4s; }
    .navbar li a:hover {
      color: #424C55;
      transition: all 0.4s; }

.link {
  position: relative; }

.link::after {
  content: '';
  width: 0%;
  height: 4px;
  background: #FCF7F8;
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: all .3s; }

.link:hover::after {
  left: 0;
  width: 100%; }

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .skills-grid {
    display: grid;
    grid-template: "fig1 fig2 fig3" "fig4 fig5 fig6"; }
    .skills-grid .html {
      grid-area: fig1; }
    .skills-grid .css {
      grid-area: fig2; }
    .skills-grid .js {
      grid-area: fig3; }
    .skills-grid .sass {
      grid-area: fig4; }
    .skills-grid .node {
      grid-area: fig5; }
    .skills-grid .github {
      grid-area: fig6; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .skills-grid {
    margin: 0 auto;
    display: grid;
    grid-template: "fig1 fig2" "fig3 fig4" "fig5 fig6"; } }
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg); }
  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg); }
  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg); }
  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg); }
  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg); }
  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg); }
  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg); } }
.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center; }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #C1CAD6;
  left: 50%;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline-block {
  width: 46%;
  float: left;
  border: 1px solid #AC7B84;
  border-radius: 2em;
  padding: 20px;
  position: relative;
  box-shadow: 0 1px 6px #ccc; }

.timeline-block:hover {
  animation: jello .9s; }

.timeline-block:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #AC7B84;
  border-right: 0 solid #AC7B84;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline-block:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #AC7B84;
  border-right: 0 solid #AC7B84;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline-circle {
  color: #FCF7F8;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  z-index: 100;
  border-radius: 50%;
  transition: .4s all; }

.timeline-circle:hover {
  transform: scale(1.2);
  transition: .4s all; }

.one {
  background: #7798AB; }

.one:hover {
  background: #424C55; }

.two {
  background: #64B6AC; }

.two:hover {
  background: #C1CAD6; }

.timeline > li.timeline-inverted > .timeline-block {
  float: right; }

.timeline > li.timeline-inverted > .timeline-block:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-block:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-content > p,
.timeline-content > ul {
  margin-bottom: 0; }

.timeline-content > p + p {
  margin-top: 5px; }

.grey {
  color: #ccc; }

.btns {
  padding: 1em;
  border: none;
  box-shadow: none;
  outline: none;
  color: #FCF7F8;
  text-decoration: none;
  opacity: .6;
  text-align: center;
  transition: all 0.4s; }

.btns:hover {
  color: #FCF7F8;
  text-decoration: none;
  opacity: 1;
  transition: all 0.4s;
  transform: scale(1.05);
  z-index: 4; }

.btn1 {
  background: #7798AB; }

.btn1:hover {
  background: #64B6AC;
  box-shadow: -4px 4px 3px lightgray; }

.btn2 {
  background: #64B6AC; }

.btn2:hover {
  background: #7798AB;
  box-shadow: 4px 4px 3px lightgray; }

.port-grid {
  display: grid;
  grid-template-columns: repeat(2, 46vw);
  margin: 0 auto;
  grid-gap: 2em;
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "fig1 fig2" "fig3 fig4"; }
  .port-grid .figure-1 {
    grid-area: fig1; }
  .port-grid .figure-2 {
    grid-area: fig2; }
  .port-grid .figure-3 {
    grid-area: fig3; }
  .port-grid .figure-4 {
    grid-area: fig4; }

.figure {
  position: relative;
  height: 60vh;
  width: 46vw;
  margin: 0 auto; }

.con-img {
  object-fit: fill;
  object-position: top;
  border-radius: 10px;
  width: 100%;
  height: 100%; }

.overlay {
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: #424c55da; }

.figure:hover .overlay {
  opacity: 1; }

.img3 {
  object-fit: contain;
  object-position: center; }

.content {
  color: #FCF7F8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  grid-template: "title" auto "text" auto "button" auto; }
  .content .title-overlay {
    grid-area: title;
    font-size: 1.4em; }
  .content .title-overlay::after {
    content: '';
    display: block;
    width: 50%;
    margin: .8em auto;
    height: 4px;
    background: #7798AB; }
  .content .description {
    grid-area: text; }
  .content .visit-project {
    text-transform: uppercase;
    background: #FCF7F8;
    border-radius: 2em;
    width: 100%;
    padding: 1em;
    grid-area: button;
    text-decoration: none;
    color: #7798AB;
    transition: all .4s;
    z-index: 2; }
  .content .visit-project:hover {
    transition: .4s all;
    transform: scale(1.1); }

.footer {
  height: 28vh;
  background-color: #7798AB;
  display: grid;
  grid-template-rows: auto 10vh 5vh;
  grid-template-areas: "img" "icons" "copywrite"; }
  .footer .rotate-img {
    grid-area: img; }
  .footer .icons {
    display: grid;
    place-content: center;
    grid-area: icons;
    z-index: 2; }
    .footer .icons ul {
      padding: 0;
      display: grid;
      grid-gap: 1em;
      grid-template-areas: "icon1 icon2 icon3 icon4"; }
      .footer .icons ul .social {
        list-style: none; }
        .footer .icons ul .social a {
          text-decoration: none;
          color: #424C55;
          font-size: 2em;
          width: 50px;
          height: 50px;
          display: grid;
          place-content: center;
          transition: .3s all; }
      .footer .icons ul .social1 {
        grid-area: icon1; }
      .footer .icons ul .social2 {
        grid-area: icon2; }
      .footer .icons ul .social3 {
        grid-area: icon3; }
      .footer .icons ul .social4 {
        grid-area: icon4; }
      .footer .icons ul a:hover {
        animation: jello .7s;
        background: #FCF7F8;
        border-radius: 50%;
        transition: all 0.3s; }
      .footer .icons ul .github:hover {
        color: #6e5494; }
      .footer .icons ul .slack:hover {
        color: #3aaf85; }
      .footer .icons ul .twitter:hover {
        color: #55acee; }
      .footer .icons ul .linked:hover {
        color: #0077B5; }
  .footer .copywrite {
    grid-area: copywrite;
    font-size: .6em;
    text-align: center; }
  .footer .up {
    position: fixed;
    left: 90%;
    bottom: 20px;
    z-index: 6;
    height: 40px;
    width: 40px;
    background: #424C55;
    border-radius: 50%;
    display: grid;
    place-content: center;
    color: #FCF7F8;
    text-decoration: none;
    transition: .4s all;
    opacity: 0.4; }
  .footer .up:hover {
    opacity: 1;
    transition: .4s all;
    transform: scale(1.4);
    background: linear-gradient(#64B6AC, #7798AB); }

/*# sourceMappingURL=main.css.map */
