.navbar {
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    ul {
        display: flex;
        margin: 0 auto;
        padding: 1em;
        width: 80%;

    }
        li {
        justify-content: flex-start;
        margin: 2em 2em;
        list-style-type: none;
        
        a {
            padding: 0.25rem 0;
            text-decoration: none;
            color: $turkishrose;
            transition: all 0.4s;
        }
        a:hover {
            color: $outerspace;
            transition: all 0.4s;
        }
    }
}

.link {
    position: relative;
}

.link::after {
    content: '';
    width: 0%;
    height: 4px;
    background: $snow ;
    position: absolute;
    bottom: 0; 
    left: 50%;
    transition: all .3s;
}

.link:hover::after {
    left: 0;
    width: 100%;
}


// .navbar::after {
//     content: '';
//     position: absolute;
//     top: -20px;
//     bottom: -20px;
//     left: -20px;
//     right: -20px;
//     background-image:url(../images/bg4.jpg);
//     background-attachment: fixed;
//     filter: blur(2px);
//     background-position: center;

// box-shadow: 0 5px 15px rgba(0,0,0,.5);
// }