@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {

    .skills-grid {
        grid-template: 
            "fig1 fig2 fig3"
            "fig4 fig5 fig6";
        
        .html {
            grid-area: fig1;
        }
        .css {
            grid-area: fig2;
        }
        .js {
            grid-area: fig3;
        }
        .sass {
            grid-area: fig4;
        }
        .node {
            grid-area: fig5;
        }
        .github {
            grid-area: fig6;
        }   
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {

    .skills-grid {
        grid-template: 
            "fig1 fig2"
            "fig3 fig4"
            "fig5 fig6";
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 700px) {
    
    .wave-img,
    .rotate-img {
        display: none !important;
    }
    
    .skills-grid {
        grid-template: 
            "fig1"
            "fig2"
            "fig3"
            "fig4"
            "fig5"
            "fig6"       
    }
    .education-grid {
        grid-template-areas: 
            "card1" 
            "card2";
    }
}

