// global colors

$outerspace     : #424C55;
$snow           : #FCF7F8;
$greensheen     : #64B6AC;
$weldonblue     : #7798AB;
$white          : #FFFFFF;
$rosybrown      : #AC7B84;

// primary colors

$primarycol     : $outerspace;
$secondcol      : $weldonblue;

