// global colors

$outerspace     : #424C55;
$overlay        : #424c55da;
$snow           : #FCF7F8;
$greensheen     : #64B6AC;
$weldonblue     : #7798AB;
$white          : #ffffff;
$turkishrose    : #AC7B84;
$lavengrey      : #C1CAD6;
$greyed         : #ccc;

// primary colors

$primarycol     : $outerspace;
$secondcol      : $weldonblue;

